<h1><%= @person.id ? 'Edit Contact' : 'Create Contact' %></h1>

<%= form_for @person do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :hair_color%>  
  <%= f.text_field :hair_color %>
  <%= f.label :eye_color%>  
  <%= f.text_field :eye_color %>
  <%= f.label :gender %>
  <%= f.select :gender, [ 'Male', 'Female', 'Other', 'N/A' ], :prompt => 'Select One' %>
  <%= f.label :alive %>
  <%= f.radio_button :alive, :checked => true %>
  <%= f.submit %>
<% end %>